---
import Layout from "../layouts/Layout.astro";
import Image from "../components/image.astro";
---

<Layout title="Biomasa Eficiente">
  <section
    class="w-full lg:h-screen pt-4 px-4 text-quaternary bg-secondary font-bold flex lg:flex-row max-sm:flex-col justify-center items-center text-center"
  >
    <div
      class="lg:w-1/2 sm:w-full lg:h-full sm:h-1/2 flex flex-col justify-center items-center"
    >
      <h2 class="text-tertiary text-6xl font-bold">Biomasa Eficiente</h2>
      <p class="text-clip text-3xl">
        una iniciativa desde la universidad de cundinamarca
      </p>
    </div>

    <div class="lg:w-1/2 sm:w-full lg:h-full sm:h-1/2">
      <Image url="/biodiesel/hojafoto.png" alt="logo" />
    </div>
  </section>
  <!-- -- -->
  <section class="content bg-quaternary py-4" id="recursos">
    <div
      class="lg:w-1/2 sm:w-full lg:h-full sm:h-1/2 flex flex-col justify-center items-center"
    >
      <Image alt="biodiesel" url="/biodiesel/biodiesel.png" />
    </div>
    <div
      class="lg:w-1/2 sm:w-full lg:h-full sm:h-1/2 text-start flex flex-col justify-center"
    >
      <h2 class="text-secondary font-bold text-5xl">¿Qué es el biodiésel?</h2>
      <p class="text-white text-3xl">
        El biodiésel es un combustible de origen natural, renovable y limpio. Su
        uso permite reducir las emisiones de gases de efecto invernadero, ya que
        se produce a partir de materia orgánica (fundamentalmente aceites
        vegetales o grasas animales).
      </p>
    </div>
  </section>
  <!-- --- -->
  <section class="content bg-tertiary">
    <div
      class="lg:w-1/2 sm:w-full lg:h-full sm:h-1/2 p-8 flex flex-col justify-center text-start"
    >
      <h2 class="text-6xl text-secondary font-bold">
        Materiales para generar biodiésel
      </h2>
      <p class="text-2xl">
        Se elabora a partir del aceite extraído de plantas oleaginosas como la
        colza, el girasol, la palma, la soja, y de plantas de origen marino como
        las algas. Es uno de los métodos de obtención más extendidos, por lo que
        ya se cultivan materias primas destinadas a producir biodiésel.
      </p>
    </div>

    <div class="lg:w-1/2 sm:w-full lg:h-full sm:h-1/2">
      <Image url="/biodiesel/materialesBiodiesel.jpg" alt="biodiesel photo" />
    </div>
  </section>
  <!-- ----- -->
  <section class="content bg-quaternary flex-row-reverse">
    <div
      class="lg:w-1/2 sm:w-full lg:h-full sm:h-1/2 flex flex-col justify-center text-start px-4"
    >
      <h2 class="text-6xl">Proceso de biomasa a biodiésel</h2>
      <p class="text-2xl">
        El proceso de elaboración del biodiésel está basado en la llamada
        Transesterificación de los triglicéridos, y para que su reacción sea
        efectiva es necesaria la adición de catalizadores. En las grasas
        animales y aceites vegetales hay una mezcla de ácidos grasos y
        triglicéridos, es decir, tres cadenas moleculares largas de ácidos
        grasos unidas a un alcohol, el glicerol. En la reacción de
        Transesterificación, una molécula de triglicérido reacciona con tres
        moléculas de metanol o etanol para dar tres moléculas de monoésteres y
        una de glicerol; obteniéndose así un aproximado del 10% de glicerina y
        un 90% de biodiesel del producto total. El glicerol producido en la
        reacción de transesterificación, una vez recuperado y refinado puede
        emplearse en distintos campos como son: industria química (plásticos,
        pinturas, conservantes), cosmética, farmacéutica, explosivos.
      </p>
    </div>

    <div class="lg:w-1/2 sm:w-full lg:h-full sm:h-1/2">
      <Image
        url="/biodiesel/biomasa.jpg"
        alt="Proceso de biomasa a biodiésel"
      />
    </div>
  </section>
  <!-- --- -->
  <section class="content bg-secondary" id="objetivos">
    <div
      class="lg:w-1/2 sm:w-full lg:h-full sm:h-1/2 flex flex-col justify-center text-start px-8"
    >
      <h2 class="text-6xl text-tertiary font-bold">Nuestros objetivos</h2>
      <ul class="list-disc text-3xl text-quaternary">
        <li>
          Investigar y desarrollar procesos de producción de biodiésel más
          eficientes y económicos.
        </li>
        <li>Evaluar el impacto ambiental del biodiesel.</li>

        <li>
          Estudiar las fuentes de materia prima para la producción de biodiésel.
        </li>

        <li>
          Investigar y desarrollar formas de integrar el biodiésel en la
          infraestructura existente.
        </li>
      </ul>
    </div>

    <div class="lg:w-1/2 sm:w-full lg:h-full sm:h-1/2">
      <Image url="/biodiesel/objetivos.png" alt="udec" />
    </div>
  </section>
  <!-- ---- -->
  <section class="content2 bg-quaternary flex flex-col px-8 text-center">
    <h2 class="lg:text-6xl max-sm:text-4xl font-bold text-secondary">
      ¿Deseas probar tus conocimientos?
    </h2>
    <p class="lg:text-3xl max-sm:text-2xl">
      Usa nuestro quiz interactivo y pon aprueba lo que sabes sobre biodiésel,
      te recomendamos estudiar otras fuentes además de nosotros y responder las
      preguntas a conciencia, al final se te otorgara tu resultado y tu nota
      final. Ingresa por medio del apartado "quiz" en la barra de tareas o desde
      este <a
        class="underline text-secondary"
        href="https://bitsbyseb.github.io/who_wanna_be_millionaire/"
        target="_blank">link</a
      > directamente.
    </p>
  </section>
  <!-- ---- -->
  <section
    class="content2 bg-tertiary flex flex-col justify-center text-start"
    id="autores"
  >
    <h2 class="text-6xl text-secondary font-bold">Nuestros Integrantes</h2>
    <ul class="text-4xl list-disc">
      <li>Johan Sebastian Puentes Pulido</li>
      <li>Andrés Camilo Torres Arias</li>
      <li>Yessica Natalia Velasquez Vega</li>
      <li>Tomás Esteban Palacios López</li>
    </ul>
  </section>
</Layout>
<style>
  main {
    width: 100vw;
    height: full;
  }
</style>
