---
import Navbar from '../components/navbar.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="">
		<Navbar/>
		<slot />
	</body>
	<style is:global>
		* {
			box-sizing: border-box;
			scroll-behavior: smooth;
		}

		.link {
			@apply w-auto text-sm text-center text-white bg-quaternary font-bold p-2 rounded-lg active:bg-quaternary active:text-secondary;
		}

		.content {
			@apply w-full h-auto pl-4 font-bold lg:flex sm:flex-col justify-center items-center text-center;
		}

	</style>
</html>
